<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <property name="APP_NAME" value="jusic"/>

    <property name="LOG_HOME" value="logs/"/>

    <appender name="COMMON"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/common-all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- “fileNamePattern”选项以“.gz”或“.zip”结尾，就表示需要压缩 -->
            <FileNamePattern>${LOG_HOME}/common-all-%d{yyyy-MM-dd}.%i.gz</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{30}.%M[%L] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/common-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/common-error-%d{yyyy-MM-dd}.%i.gz</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{30}.%M[%L] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="com.scoder" level="DEBUG" />
    </springProfile>
    <springProfile name="test">
        <logger name="com.scoder" level="DEBUG" />
    </springProfile>
    <springProfile name="online">
        <logger name="com.scoder" level="INFO" />
    </springProfile>

</configuration>